---
import type {  Event } from "@/types";
import Badge from "../ui/Badge.astro";

// src/components/article/ArticleDetail.astro

interface Props {
  article: Event;
  disableDownload?: boolean;
  disableShare?: boolean;
}

const { article, disableDownload, disableShare } = Astro.props;
const {
  category,
  date,
  title,
  image,
  description,
} = article;
---

<article class="content container">
  <div class="mx-auto flex items-center justify-between mt-4">
    <div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
        <div class="lg:col-span-2">
          <span class="py-2 text-red-700 rounded-full text-sm">
            {description}
          </span>
          <div class="py-16">
            <article class="bg-white">
              <!-- Contenu de l'article -->
              <div
                class="article-content prose prose-lg max-w-none"
                set:html={description}
              />

              <!-- Bouton "Télécharger" (si présent dans le design) -->
              {!disableDownload && (
                <div class="mt-12 pt-8">
                  <button
                    class="inline-flex items-center gap-2 border-2 border-primary text-primary hover:bg-primary hover:text-white px-6 py-2.5 rounded-full font-medium transition-colors"
                  >
                    <svg
                      class="w-5 h-5"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                      ></path>
                    </svg>
                    Télécharger
                    <svg
                      class="w-4 h-4"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"></path>
                    </svg>
                  </button>
                </div>
              )}
            </article>
          </div>
        </div>
        <aside class="lg:col-span-1 min-w-fit flex flex-col justify-between">
          {!disableShare && <div class="mt-12 pt-8">
            <div class="flex flex-col items-end justify-between">
              <h3 class="font-bold text-gray-900">Partagez cet evènements !</h3>
              <div class="flex gap-3">
                <!-- Facebook -->
                <a href="#" aria-label="Partager sur Facebook">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.9811 0.00017784C12.0287 0.000278801 12.0764 0.000379761 12.1255 0.000483781C12.8093 0.00281066 13.4802 0.0145642 14.152 0.155355C14.1976 0.164663 14.2432 0.17397 14.2902 0.183559C16.5551 0.65767 18.6142 1.68437 20.2843 3.29404C20.3306 3.33846 20.3306 3.33846 20.3778 3.38378C20.822 3.81216 21.2311 4.2477 21.595 4.74627C21.6352 4.80019 21.6754 4.85411 21.7155 4.90803C21.9982 5.29176 22.249 5.69059 22.4844 6.10481C22.5015 6.1344 22.5186 6.164 22.5361 6.19449C23.544 7.95667 24.0041 9.95802 24 11.9752C23.9999 12.0461 23.9999 12.0461 23.9999 12.1185C23.998 12.8919 23.9555 13.6375 23.7952 14.3966C23.7849 14.4454 23.7746 14.4942 23.764 14.5445C23.3428 16.477 22.4665 18.2841 21.1737 19.7839C21.144 19.8188 21.1143 19.8537 21.0837 19.8896C20.5308 20.5223 19.934 21.1159 19.2544 21.6109C19.2006 21.651 19.1468 21.6911 19.093 21.7313C18.7095 22.0142 18.3109 22.2653 17.8969 22.5009C17.8673 22.518 17.8377 22.5351 17.8073 22.5527C17.3876 22.7931 16.9556 22.9904 16.5072 23.1714C16.46 23.1905 16.4127 23.2097 16.3641 23.2294C16.0034 23.3715 15.6524 23.4706 15.2754 23.5784C15.2754 20.6257 15.2754 17.673 15.2754 14.6308C16.1405 14.6308 17.0056 14.6308 17.8969 14.6308C17.9123 14.3834 17.9278 14.1361 17.9437 13.8813C17.9637 13.6991 17.985 13.5181 18.0097 13.3367C18.0152 13.2951 18.0207 13.2535 18.0263 13.2106C18.0463 13.0593 18.0667 12.9081 18.0871 12.7569C18.1551 12.2468 18.1551 12.2468 18.2246 11.7263C17.2514 11.7109 16.2781 11.6954 15.2754 11.6795C15.2725 11.1244 15.2725 11.1244 15.2696 10.5581C15.2687 10.4421 15.2679 10.3261 15.267 10.2066C15.2667 10.1135 15.2665 10.0204 15.2663 9.92733C15.2658 9.87993 15.2653 9.83252 15.2648 9.78368C15.2647 9.30831 15.3213 8.90395 15.6499 8.5408C16.0085 8.27335 16.4757 8.24532 16.9067 8.25058C16.944 8.25067 16.9813 8.25076 17.0198 8.25086C17.1571 8.25134 17.2944 8.25265 17.4317 8.25387C17.7397 8.2558 18.0477 8.25773 18.365 8.25972C18.365 7.39401 18.365 6.52829 18.365 5.63634C18.0522 5.62089 17.7394 5.60543 17.4171 5.5895C17.3195 5.58461 17.222 5.57972 17.1215 5.57468C15.7539 5.50741 14.4305 5.53594 13.3415 6.49531C12.495 7.33508 12.2712 8.47117 12.2601 9.62082C12.2592 9.6802 12.2583 9.73958 12.2574 9.80076C12.2551 9.95617 12.2531 10.1116 12.2514 10.267C12.2495 10.4265 12.2471 10.5861 12.2447 10.7457C12.2402 11.0569 12.2365 11.3682 12.2327 11.6795C11.383 11.6795 10.5334 11.6795 9.65802 11.6795C9.65802 12.6534 9.65802 13.6273 9.65802 14.6308C10.5077 14.6308 11.3573 14.6308 12.2327 14.6308C12.2327 17.7226 12.2327 20.8145 12.2327 24C10.6572 24 10.6572 24 9.89208 23.8595C9.84974 23.8519 9.80739 23.8444 9.76376 23.8366C7.72226 23.4634 5.79904 22.5456 4.22786 21.1892C4.19298 21.1595 4.15811 21.1298 4.12217 21.0992C3.48998 20.5459 2.89681 19.9486 2.40221 19.2685C2.36211 19.2147 2.322 19.1608 2.28188 19.107C1.99914 18.7233 1.74714 18.3249 1.51278 17.91C1.49396 17.8769 1.47513 17.8438 1.45573 17.8096C0.845987 16.7258 0.436439 15.5466 0.187425 14.3292C0.180527 14.2955 0.173629 14.2619 0.166522 14.2272C0.0273102 13.4942 -0.00265457 12.7693 0.00017771 12.025C0.000278596 11.9773 0.000379483 11.9296 0.000483426 11.8805C0.0028086 11.1961 0.0145535 10.5247 0.155242 9.85249C0.164542 9.80682 0.173842 9.76115 0.183425 9.7141C0.657189 7.4476 1.68314 5.38692 3.29163 3.71566C3.32122 3.68477 3.35081 3.65388 3.3813 3.62206C3.80937 3.17757 4.24459 2.76814 4.74279 2.40397C4.79668 2.36377 4.85056 2.32357 4.90444 2.28337C5.28781 2.00054 5.68583 1.74838 6.10033 1.51389C6.13344 1.49505 6.16654 1.47621 6.20065 1.4568C7.28366 0.846608 8.46197 0.436759 9.6785 0.187562C9.71216 0.180659 9.74581 0.173756 9.78048 0.166644C10.5129 0.0273302 11.2373 -0.00265652 11.9811 0.00017784Z"
                      fill="#1D1D1D"></path>
                  </svg>
                </a>

                <!-- Twitter/X -->
                <a href="#" aria-label="Partager sur Twitter">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M11.9825 0.000177642C12.0301 0.000278513 12.0778 0.00034801 12.1269 0.000451937C12.8108 0.00277717 13.4818 0.0145538 14.1536 0.155245C14.1993 0.164545 14.2449 0.173825 14.2919 0.183406C16.557 0.657183 18.6165 1.68318 20.2867 3.29171C20.333 3.33609 20.333 3.33608 20.3802 3.38136C20.8245 3.80944 21.2336 4.2447 21.5976 4.74291C21.6378 4.79679 21.6779 4.85068 21.7181 4.90456C22.0008 5.28801 22.2517 5.68657 22.4871 6.10049C22.5042 6.13006 22.5212 6.15962 22.5388 6.19009C23.5504 7.9572 24.0076 9.95925 23.9999 11.9814C23.9998 12.029 23.9997 12.0766 23.9996 12.1257C23.9973 12.8096 23.9855 13.4806 23.8448 14.1523C23.8309 14.2208 23.8308 14.2208 23.8166 14.2906C23.3428 16.5555 22.3167 18.6147 20.7081 20.2848C20.6785 20.3157 20.6488 20.3465 20.6184 20.3783C20.1902 20.8225 19.755 21.2317 19.2567 21.5956C19.2028 21.6357 19.1489 21.6759 19.0951 21.7161C18.7116 21.9987 18.3136 22.2507 17.899 22.485C17.8659 22.5038 17.8328 22.5227 17.7987 22.5421C16.7155 23.1518 15.5371 23.5614 14.3204 23.8104C14.2868 23.8173 14.2531 23.8242 14.2184 23.8313C13.5313 23.9619 12.8513 23.9994 12.1532 23.9978C12.0156 23.9976 11.8781 23.9988 11.7404 23.9999C11.1144 24.002 10.5106 23.9456 9.89326 23.8426C9.81342 23.8294 9.8134 23.8294 9.73196 23.8159C7.7063 23.4521 5.78443 22.5164 4.22837 21.1743L4.12266 21.0843C3.4904 20.5314 2.89715 19.9345 2.40249 19.2549C2.3624 19.2011 2.32228 19.1473 2.28216 19.0935C1.99938 18.7101 1.74734 18.3119 1.51296 17.8973C1.49413 17.8642 1.4753 17.8311 1.4559 17.797C0.846092 16.714 0.436491 15.5356 0.187447 14.3191C0.180548 14.2854 0.17366 14.2518 0.166553 14.2171C0.0273255 13.4846 -0.00265465 12.7603 0.000177633 12.0165C0.000278532 11.9688 0.000347998 11.9212 0.000451954 11.8721C0.00277746 11.1882 0.0145572 10.5172 0.15526 9.84552C0.164561 9.79989 0.173841 9.75425 0.183424 9.70723C0.657244 7.44234 1.68334 5.38311 3.29202 3.71303C3.32161 3.68217 3.35119 3.65129 3.38168 3.61949C3.8098 3.17532 4.2451 2.76618 4.74336 2.40227C4.79725 2.3621 4.85113 2.32193 4.90502 2.28176C5.28844 1.99912 5.68651 1.74714 6.10106 1.51282C6.13416 1.494 6.16726 1.47516 6.20137 1.45577C7.28451 0.846009 8.46297 0.43645 9.67966 0.187429C9.71331 0.180532 9.74699 0.173644 9.78166 0.166537C10.5142 0.027325 11.2386 -0.00265469 11.9825 0.000177642ZM9.32098 4.99865C9.11373 4.82809 9.11374 4.82807 8.42533 4.85592C8.33508 4.85973 8.24476 4.86226 8.15444 4.86356C7.91692 4.86537 7.67966 4.86952 7.44226 4.87718C7.19657 4.88516 6.95095 4.89012 6.70516 4.89377C6.17592 4.90139 5.64693 4.91385 5.1179 4.93016C5.1179 5.034 5.11791 5.03402 5.25816 5.22695C5.30017 5.28392 5.34194 5.34106 5.38353 5.39834C5.406 5.42942 5.42783 5.45956 5.44964 5.48973C5.56085 5.6434 5.66962 5.79859 5.77704 5.95493C5.79866 5.98651 5.81965 6.01717 5.84064 6.04782C5.88399 6.11109 5.92733 6.17436 5.97066 6.23764C6.07831 6.395 6.18622 6.5522 6.29427 6.70928C6.33716 6.77162 6.38006 6.83396 6.42293 6.89631L6.87354 7.55169C6.98031 7.70699 7.08707 7.86232 7.1939 8.01758C7.42054 8.34691 7.64695 8.6764 7.87266 9.00636C8.19121 9.47215 8.5105 9.93743 8.83059 10.4022C8.87143 10.4614 8.91225 10.5207 8.95307 10.58C8.97427 10.6108 8.99486 10.6407 9.01544 10.6706C9.13391 10.8427 9.25212 11.0149 9.36963 11.1876C9.40035 11.2329 9.4302 11.2768 9.46002 11.3207C9.52153 11.4112 9.58304 11.5017 9.64454 11.5922C9.82986 11.8654 10.0166 12.136 10.2151 12.3998C10.2992 12.5076 10.3566 12.5947 10.4053 12.7223C10.4192 12.8478 10.4192 12.8478 10.3355 12.9606L10.2268 13.0844L10.1087 13.221L9.9869 13.3565C9.91679 13.4346 9.84656 13.5126 9.77622 13.5906C9.66865 13.7085 9.56349 13.8271 9.46185 13.9502C9.32018 14.1258 9.17916 14.3006 9.02842 14.4685C8.83388 14.6798 8.6431 14.8915 8.46241 15.1149C8.36026 15.2415 8.25755 15.3662 8.1495 15.4878C8.00685 15.6442 7.86442 15.7999 7.72961 15.9632C7.58793 16.1387 7.44692 16.3136 7.29618 16.4814C7.10164 16.6928 6.91086 16.9044 6.73017 17.1279C6.62802 17.2544 6.52531 17.3791 6.41726 17.5007C6.2362 17.6993 6.05946 17.899 5.89038 18.108C5.74828 18.284 5.60152 18.4533 5.44854 18.62C5.32753 18.7496 5.24047 18.8613 5.16471 19.0209C5.29958 19.0257 5.4344 19.0295 5.56933 19.0323L5.7353 19.0355C6.00983 19.0455 6.24814 19.0838 6.47724 18.9181L6.56923 18.7868L6.66945 18.6677C6.80874 18.4931 6.94829 18.3195 7.09666 18.1524C7.23905 17.9964 7.38112 17.8411 7.51564 17.6781C7.65731 17.5026 7.79833 17.3277 7.94906 17.1599C8.1436 16.9485 8.33438 16.7368 8.51508 16.5134C8.61723 16.3869 8.71993 16.2622 8.82798 16.1406C9.00904 15.942 9.18578 15.7423 9.35486 15.5333C9.49101 15.365 9.6304 15.2017 9.77622 15.0418C9.92114 14.8828 10.0595 14.7205 10.1946 14.5531C10.3446 14.3673 10.5003 14.1896 10.6628 14.0148C10.7685 13.9025 10.8618 13.8042 10.9366 13.6694L10.9701 13.5906C11.0664 13.6299 11.0664 13.6299 11.1162 13.7078C11.2479 13.9137 11.3836 14.1167 11.5222 14.3181C11.5444 14.3503 11.5659 14.3815 11.5875 14.4127C11.6325 14.4781 11.6776 14.5435 11.7226 14.6089C11.8329 14.769 11.9431 14.9291 12.0532 15.0893C12.1813 15.2755 12.3093 15.4619 12.4374 15.6481C12.6608 15.9727 12.8841 16.2974 13.1067 16.6226C13.1324 16.6601 13.1573 16.6965 13.1822 16.7329C13.3165 16.9292 13.4508 17.1255 13.5846 17.3222C13.6147 17.3666 13.644 17.4096 13.6732 17.4526C13.7329 17.5404 13.7926 17.6282 13.8523 17.7159C13.9059 17.7951 13.9596 17.8742 14.0134 17.9533C14.0988 18.0729 14.182 18.1915 14.2528 18.3204C14.3729 18.5436 14.5005 18.7536 14.6699 18.9433C14.9002 19.1366 14.9002 19.1366 15.5846 19.105C15.6745 19.1007 15.7645 19.0978 15.8545 19.0964C16.0915 19.0943 16.3281 19.0896 16.5649 19.0809C16.8098 19.0718 17.0547 19.0662 17.2998 19.0621C17.8274 19.0535 18.3548 19.0394 18.8822 19.0209C18.8662 18.9951 18.8506 18.9701 18.8351 18.9451C18.8138 18.9109 18.7931 18.8777 18.7725 18.8445C18.6755 18.6887 18.5748 18.5362 18.4706 18.3852C18.4273 18.3229 18.3841 18.2604 18.341 18.198L18.2717 18.0978C18.1607 17.9373 18.0499 17.7765 17.9393 17.6156C17.8967 17.5535 17.854 17.4914 17.8113 17.4293C17.7894 17.3974 17.7681 17.3665 17.7469 17.3356L16.8456 16.0248C16.7389 15.8695 16.6321 15.7142 16.5253 15.559C16.2986 15.2297 16.0722 14.9002 15.8465 14.5702C15.5898 14.1949 15.3327 13.8198 15.075 13.4452C15.0118 13.3534 14.9487 13.2617 14.8856 13.1699C14.8637 13.138 14.8424 13.1071 14.8211 13.0762C14.7781 13.0136 14.7351 12.951 14.692 12.8884C14.5846 12.732 14.4771 12.5756 14.3694 12.4195C14.152 12.1046 13.935 11.7894 13.7216 11.4718C13.7003 11.4401 13.6797 11.4094 13.6591 11.3786C13.5491 11.2154 13.44 11.0549 13.3577 10.8754C13.6074 10.5924 13.8532 10.306 14.0986 10.0192C14.2185 9.87915 14.3384 9.73914 14.4585 9.59916C14.5985 9.43581 14.7386 9.27247 14.8785 9.109C15.1177 8.82946 15.3572 8.55017 15.5983 8.27226C15.9141 7.90846 16.2282 7.54323 16.5413 7.17719C16.8029 6.87137 17.0647 6.5657 17.3283 6.26154L17.4045 6.17363C17.5348 6.02321 17.665 5.87281 17.7963 5.72333L17.8822 5.62578C17.9375 5.56263 17.9929 5.49947 18.0483 5.43633C18.0879 5.39165 18.0879 5.39163 18.1267 5.34782C18.1635 5.30582 18.1635 5.30581 18.1995 5.26462C18.2921 5.15957 18.3549 5.05727 18.414 4.93016C18.2744 4.92243 18.1348 4.91628 17.995 4.91188L17.8229 4.90676C17.6089 4.8947 17.4072 4.884 17.1968 4.93016C17.0936 5.01394 17.0376 5.09257 16.9704 5.20665C16.9141 5.31603 16.914 5.31603 16.8008 5.43578C16.6045 5.64509 16.4145 5.85677 16.2341 6.08001C16.1319 6.20656 16.0292 6.3313 15.9212 6.45287C15.7785 6.60934 15.6361 6.76498 15.5013 6.92831C15.3596 7.10383 15.2186 7.27868 15.0679 7.44654C14.8733 7.6579 14.6825 7.86955 14.5018 8.09296C14.3997 8.21952 14.297 8.34425 14.1889 8.46582C14.0463 8.6223 13.9039 8.77793 13.769 8.94127C13.4479 9.33915 13.1128 9.71983 12.7491 10.0796C12.5011 9.70447 12.2485 9.33285 11.9933 8.96266C11.8841 8.80439 11.7751 8.64599 11.6661 8.48754C11.6234 8.42527 11.5806 8.363 11.5378 8.30074C11.5159 8.26889 11.4946 8.23798 11.4733 8.20707L11.0871 7.64532C10.9803 7.49002 10.8736 7.33472 10.7667 7.17947C10.639 6.9938 10.5112 6.80807 10.3836 6.62229C10.3601 6.58813 10.3374 6.55496 10.3146 6.5218C10.2379 6.41021 10.1613 6.29859 10.0847 6.18694C10.0584 6.14859 10.0329 6.11137 10.0074 6.07416C9.98357 6.03951 9.96044 6.00589 9.93734 5.97226C9.91333 5.93721 9.89005 5.90318 9.86674 5.86917C9.79237 5.76532 9.72126 5.66311 9.66439 5.54852C9.56938 5.34956 9.46691 5.16512 9.32098 4.99865Z"
                      fill="#1D1D1D"></path>
                    <path
                      d="M6.7565 5.86643C7.01546 5.85245 7.2742 5.84231 7.53346 5.83557C7.62145 5.83276 7.70941 5.82893 7.79731 5.82405C8.52353 5.78472 8.52353 5.78472 8.77073 5.97587C8.88044 6.12115 8.96556 6.26735 9.05055 6.42818C9.11003 6.51482 9.17066 6.60069 9.23252 6.68565C9.29193 6.77141 9.35124 6.85723 9.41046 6.94312C9.47586 7.03755 9.54127 7.13197 9.60669 7.22638C9.63904 7.27312 9.6714 7.31987 9.70473 7.36803C9.84691 7.57307 9.98999 7.77747 10.1332 7.98179C10.1599 8.01983 10.1865 8.05788 10.214 8.09708C10.2675 8.17351 10.3211 8.24994 10.3746 8.32637C10.5382 8.55973 10.7015 8.7932 10.8649 9.02664C11.0003 9.21997 11.1356 9.41327 11.2711 9.60652C11.5935 10.0667 11.915 10.5276 12.2357 10.989C12.5196 11.3972 12.8047 11.8046 13.0901 12.2118C13.2262 12.4061 13.3622 12.6004 13.4982 12.7947C13.5528 12.8728 13.6074 12.9508 13.6621 13.0288C13.7713 13.1848 13.8805 13.3409 13.9898 13.4969C14.0168 13.5355 14.0438 13.5742 14.0717 13.6139C14.1264 13.6921 14.1811 13.7702 14.2358 13.8483C14.3711 14.0417 14.5065 14.235 14.6419 14.4283C14.9644 14.8884 15.2858 15.3493 15.6066 15.8107C15.8104 16.1038 16.0147 16.3966 16.2194 16.689C16.2456 16.7265 16.2718 16.7639 16.2988 16.8025C16.4412 17.006 16.5842 17.209 16.7279 17.4115C16.7583 17.4546 16.7888 17.4977 16.8202 17.5421C16.879 17.6252 16.9379 17.7083 16.9971 17.7911C17.0233 17.8282 17.0494 17.8653 17.0764 17.9036C17.0997 17.9363 17.123 17.9691 17.147 18.0029C17.1968 18.0846 17.1968 18.0846 17.1968 18.1782C16.9445 18.1922 16.6924 18.2023 16.4398 18.2091C16.3541 18.2119 16.2684 18.2157 16.1828 18.2206C15.4753 18.2599 15.4753 18.2599 15.2306 18.0685C15.121 17.9233 15.0351 17.7769 14.9495 17.6165C14.8911 17.5315 14.8316 17.4473 14.7709 17.3639C14.7123 17.2795 14.6538 17.1949 14.5955 17.1103C14.5302 17.0161 14.4649 16.9218 14.3996 16.8276C14.3502 16.7562 14.3502 16.7562 14.2998 16.6833C14.1403 16.4528 13.9802 16.2227 13.8201 15.9927C13.789 15.948 13.758 15.9034 13.726 15.8574C13.4436 15.4516 13.1601 15.0465 12.8764 14.6416C12.7402 14.4473 12.6042 14.253 12.4682 14.0587C12.4136 13.9807 12.359 13.9026 12.3044 13.8246C11.9766 13.3565 11.6489 12.8884 11.3212 12.4202C11.2942 12.3816 11.2671 12.343 11.2393 12.3032C11.1846 12.2251 11.1299 12.147 11.0752 12.0688C10.9399 11.8755 10.8045 11.6822 10.669 11.4889C10.3466 11.0287 10.0251 10.5678 9.70439 10.1064C9.4205 9.69821 9.13545 9.29079 8.85007 8.8836C8.71395 8.68935 8.57794 8.49502 8.44193 8.3007C8.38731 8.22268 8.33268 8.14466 8.27806 8.06664C8.16882 7.91059 8.05958 7.75455 7.95034 7.59851C7.92326 7.55982 7.89617 7.52113 7.86826 7.48127C7.81413 7.40394 7.76001 7.3266 7.70589 7.24926C7.56195 7.04358 7.41785 6.83802 7.2735 6.63262C7.2433 6.5896 7.21309 6.54657 7.18197 6.50224C7.12375 6.41931 7.06547 6.33641 7.00714 6.25355C6.9811 6.21644 6.95506 6.17932 6.92823 6.14109C6.89366 6.09193 6.89366 6.09193 6.8584 6.04177C6.80332 5.96005 6.80332 5.96005 6.7565 5.86643Z"
                      fill="#1D1D1D"></path>
                  </svg>
                </a>

                <!-- Instagram -->
                <a href="#" aria-label="Partager sur Instagram">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.9824 0.000177715C12.0301 0.000278604 12.0778 0.000379492 12.1269 0.000483439C12.8108 0.00280867 13.4818 0.0145539 14.1536 0.155246C14.1992 0.164546 14.2449 0.173847 14.2919 0.183429C17.0806 0.766722 19.7189 2.2596 21.4571 4.55566C21.4765 4.58089 21.4959 4.60611 21.516 4.6321C22.663 6.12402 23.4352 7.83518 23.8126 9.67875C23.8195 9.71241 23.8264 9.74606 23.8335 9.78073C23.9727 10.5132 24.0027 11.2375 23.9998 11.9814C23.9997 12.029 23.9996 12.0767 23.9995 12.1258C23.9972 12.8097 23.9854 13.4806 23.8447 14.1523C23.8308 14.2208 23.8308 14.2208 23.8166 14.2906C23.3366 16.5848 22.2907 18.6448 20.6612 20.3316C20.6331 20.3607 20.6051 20.3897 20.5762 20.4197C20.2174 20.7896 19.855 21.1428 19.4439 21.4551C19.4186 21.4746 19.3933 21.4941 19.3673 21.5142C17.8753 22.6611 16.164 23.4331 14.3204 23.8104C14.2867 23.8173 14.2531 23.8242 14.2184 23.8313C13.5313 23.9619 12.8513 23.9994 12.1532 23.9978C12.0156 23.9977 11.878 23.9988 11.7404 23.9999C11.1143 24.002 10.5106 23.9456 9.89323 23.8426C9.81338 23.8294 9.81338 23.8294 9.73192 23.8159C9.61039 23.7941 9.49 23.7698 9.36946 23.7431C9.30444 23.7287 9.30444 23.7287 9.2381 23.7141C7.1269 23.2232 5.22196 22.1589 3.66655 20.6593C3.62142 20.6161 3.62142 20.6161 3.57538 20.572C3.14578 20.1588 2.75487 19.7356 2.40248 19.2549C2.37265 19.2149 2.37265 19.2149 2.34222 19.1742C2.03718 18.765 1.76409 18.3416 1.51296 17.8973C1.49413 17.8642 1.4753 17.8311 1.4559 17.797C0.846085 16.714 0.43649 15.5357 0.187446 14.3191C0.180548 14.2854 0.173649 14.2518 0.166541 14.2171C0.0273134 13.4847 -0.00265488 12.7603 0.000177731 12.0165C0.000278629 11.9688 0.000379527 11.9212 0.000483482 11.8721C0.00280892 11.1882 0.0145552 10.5173 0.15526 9.84552C0.164561 9.79989 0.173863 9.75425 0.183446 9.70723C0.657265 7.44234 1.68333 5.38311 3.29201 3.71303C3.3216 3.68216 3.3512 3.6513 3.38169 3.61949C3.80981 3.17532 4.24508 2.76618 4.74334 2.40227C4.79723 2.3621 4.85112 2.32193 4.90501 2.28176C5.28842 1.99912 5.68649 1.74714 6.10104 1.51282C6.13415 1.49399 6.16726 1.47517 6.20137 1.45577C7.2845 0.846009 8.46295 0.43645 9.67963 0.187429C9.71328 0.180531 9.74694 0.173633 9.78162 0.166526C10.5141 0.0273109 11.2386 -0.00265464 11.9824 0.000177715ZM10.2209 5.12912C10.1417 5.13001 10.1417 5.13001 10.0608 5.13092C8.60694 5.14881 7.26288 5.30223 6.19467 6.38137C6.16341 6.4116 6.13215 6.44183 6.09994 6.47298C5.28498 7.31921 5.16789 8.5784 5.14824 9.69155C5.14713 9.74857 5.14602 9.8056 5.14488 9.86435C5.14142 10.0512 5.13836 10.238 5.13543 10.4248C5.13492 10.4568 5.1344 10.4888 5.13387 10.5218C5.1173 11.5508 5.11676 12.5791 5.13251 13.6081C5.13331 13.6678 5.13411 13.7276 5.13493 13.7891C5.1538 15.1237 5.19809 16.5268 6.14786 17.5697C6.17954 17.6051 6.21122 17.6405 6.24387 17.677C7.07567 18.559 8.25542 18.8079 9.42293 18.8461C9.78048 18.8554 10.1381 18.8605 10.4957 18.8646C10.6022 18.8658 10.7088 18.8672 10.8153 18.8686C11.7995 18.8813 12.7831 18.8825 13.7673 18.8658C13.8199 18.865 13.8724 18.8642 13.9265 18.8634C15.2619 18.8418 16.5847 18.7464 17.6181 17.8037C17.6465 17.7795 17.675 17.7553 17.7044 17.7304C18.4872 17.0206 18.7673 15.9166 18.8353 14.9013C18.8416 14.7084 18.8422 14.5156 18.8421 14.3226C18.8423 14.2672 18.8424 14.2118 18.8426 14.1547C18.843 13.9729 18.8431 13.791 18.8432 13.6092C18.8432 13.546 18.8433 13.4828 18.8434 13.4196C18.8438 13.0884 18.844 12.7573 18.844 12.4261C18.844 12.1197 18.8444 11.8133 18.8452 11.5069C18.8458 11.242 18.846 10.9771 18.846 10.7121C18.846 10.5547 18.8462 10.3973 18.8466 10.2399C18.8502 8.89277 18.8119 7.48194 17.8521 6.42818C17.8205 6.39276 17.7888 6.35733 17.7561 6.32084C16.9245 5.4391 15.7451 5.18998 14.5778 5.15169C14.221 5.14247 13.8641 5.1373 13.5071 5.13326C13.4006 5.13203 13.2941 5.13068 13.1877 5.12931C12.1986 5.11678 11.21 5.11461 10.2209 5.12912Z"
                      fill="#1D1D1D"></path>
                    <path
                      d="M10.7067 6.32836C10.8107 6.32833 10.9147 6.32828 11.0188 6.32822C11.2355 6.32816 11.4522 6.32825 11.6689 6.32847C11.9445 6.32874 12.2201 6.32859 12.4957 6.32831C12.7101 6.32814 12.9245 6.32819 13.1389 6.32831C13.2404 6.32834 13.342 6.32831 13.4435 6.3282C16.099 6.32595 16.099 6.32595 16.9626 7.17721C17.798 8.11201 17.6724 9.53853 17.6711 10.7057C17.6711 10.8097 17.6712 10.9138 17.6712 11.0178C17.6713 11.2345 17.6712 11.4512 17.671 11.6679C17.6707 11.9434 17.6709 12.219 17.6712 12.4946C17.6713 12.709 17.6713 12.9233 17.6712 13.1377C17.6711 13.2393 17.6712 13.3408 17.6713 13.4423C17.6735 16.0391 17.6735 16.0391 16.869 16.9143C15.8927 17.7806 14.5158 17.6709 13.2933 17.6695C13.1893 17.6696 13.0853 17.6696 12.9813 17.6697C12.7646 17.6697 12.5478 17.6696 12.3311 17.6694C12.0555 17.6691 11.7799 17.6693 11.5044 17.6696C11.2899 17.6697 11.0755 17.6697 10.8611 17.6696C10.7596 17.6695 10.6581 17.6696 10.5565 17.6697C8.00707 17.6719 8.00707 17.6719 7.13103 16.9143C6.62719 16.3877 6.42791 15.7223 6.37395 15.0101C6.37022 14.9639 6.36649 14.9176 6.36265 14.8699C6.32381 14.3471 6.32156 13.8249 6.3227 13.3009C6.32264 13.1959 6.32255 13.0909 6.32243 12.9858C6.32229 12.7676 6.32249 12.5493 6.32293 12.3311C6.32346 12.0546 6.32316 11.7781 6.3226 11.5017C6.32225 11.2853 6.32237 11.069 6.32261 10.8527C6.32267 10.7509 6.3226 10.649 6.32238 10.5472C6.32149 10.0235 6.33268 9.50365 6.37615 8.98152C6.37968 8.93801 6.3832 8.8945 6.38684 8.84967C6.43902 8.28569 6.58448 7.76574 6.94376 7.31765C6.97852 7.26937 7.01328 7.2211 7.0491 7.17136C7.97882 6.19947 9.47205 6.32702 10.7067 6.32836ZM15.0987 7.74774C14.9326 7.96128 14.854 8.14857 14.8588 8.42068C14.9284 8.67579 15.0123 8.87517 15.2421 9.02047C15.491 9.1433 15.6987 9.17189 15.9648 9.09069C16.2242 8.94391 16.3838 8.77934 16.4765 8.4962C16.5164 8.26939 16.461 8.0743 16.3447 7.87849C16.1763 7.65936 16.0092 7.57842 15.7454 7.5049C15.4958 7.5049 15.2943 7.59565 15.0987 7.74774ZM9.47189 9.56467C9.43906 9.59635 9.40623 9.62803 9.3724 9.66067C8.72196 10.3352 8.4641 11.2584 8.47867 12.1769C8.51227 13.0878 8.93814 13.888 9.56552 14.5268C9.59721 14.5597 9.62889 14.5925 9.66153 14.6263C10.3361 15.2767 11.2594 15.5345 12.178 15.52C13.0889 15.4864 13.8892 15.0605 14.5281 14.4332C14.561 14.4015 14.5938 14.3699 14.6276 14.3372C15.2781 13.6627 15.5359 12.7395 15.5214 11.821C15.4878 10.9101 15.0619 10.1099 14.4345 9.47104C14.4028 9.43822 14.3711 9.40539 14.3385 9.37157C13.6639 8.72118 12.7406 8.46335 11.8221 8.47792C10.9111 8.51151 10.1108 8.93735 9.47189 9.56467Z"
                      fill="#1D1D1D"></path>
                    <path
                      d="M13.1476 9.95908C13.2527 10.0263 13.3521 10.0976 13.4513 10.1732C13.4996 10.208 13.5479 10.2427 13.5976 10.2785C13.9907 10.6545 14.2901 11.1806 14.3052 11.7341C14.3196 12.4025 14.2403 12.9062 13.8259 13.4501C13.7911 13.4984 13.7563 13.5467 13.7205 13.5964C13.3445 13.9894 12.8184 14.2888 12.2648 14.3039C11.5964 14.3183 11.0926 14.2391 10.5487 13.8246C10.5004 13.7899 10.4521 13.7551 10.4024 13.7193C10.0093 13.3433 9.70992 12.8172 9.69481 12.2637C9.6786 11.5165 9.79909 10.9222 10.316 10.3486C11.0569 9.64134 12.2464 9.44755 13.1476 9.95908Z"
                      fill="#1D1D1D"></path>
                  </svg>
                </a>

                <!-- LinkedIn -->
                <a href="#" aria-label="Partager sur LinkedIn">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.9824 0.000177715C12.0301 0.000278604 12.0778 0.000379492 12.1269 0.000483439C12.8108 0.00280867 13.4818 0.0145539 14.1536 0.155246C14.1992 0.164546 14.2449 0.173847 14.2919 0.183429C17.0806 0.766722 19.7189 2.2596 21.4571 4.55566C21.4765 4.58089 21.4959 4.60611 21.516 4.6321C22.663 6.12402 23.4352 7.83518 23.8126 9.67875C23.8195 9.71241 23.8264 9.74606 23.8335 9.78073C23.9727 10.5132 24.0027 11.2375 23.9998 11.9814C23.9997 12.029 23.9996 12.0767 23.9995 12.1258C23.9972 12.8097 23.9854 13.4806 23.8447 14.1523C23.8308 14.2208 23.8308 14.2208 23.8166 14.2906C23.3366 16.5848 22.2907 18.6448 20.6612 20.3316C20.6331 20.3607 20.6051 20.3897 20.5762 20.4197C20.2174 20.7896 19.855 21.1428 19.4439 21.4551C19.4186 21.4746 19.3933 21.4941 19.3673 21.5142C17.8753 22.6611 16.164 23.4331 14.3204 23.8104C14.2867 23.8173 14.2531 23.8242 14.2184 23.8313C13.5313 23.9619 12.8513 23.9994 12.1532 23.9978C12.0156 23.9977 11.878 23.9988 11.7404 23.9999C11.1143 24.002 10.5106 23.9456 9.89323 23.8426C9.81338 23.8294 9.81338 23.8294 9.73192 23.8159C9.61039 23.7941 9.49 23.7698 9.36946 23.7431C9.30444 23.7287 9.30444 23.7287 9.2381 23.7141C7.1269 23.2232 5.22196 22.1589 3.66655 20.6593C3.62142 20.6161 3.62142 20.6161 3.57538 20.572C3.14578 20.1588 2.75487 19.7356 2.40248 19.2549C2.37265 19.2149 2.37265 19.2149 2.34222 19.1742C2.03718 18.765 1.76409 18.3416 1.51296 17.8973C1.49413 17.8642 1.4753 17.8311 1.4559 17.797C0.846085 16.714 0.43649 15.5357 0.187446 14.3191C0.180548 14.2854 0.173649 14.2518 0.166541 14.2171C0.0273134 13.4847 -0.00265488 12.7603 0.000177731 12.0165C0.000278629 11.9688 0.000379527 11.9212 0.000483482 11.8721C0.00280892 11.1882 0.0145552 10.5173 0.15526 9.84552C0.164561 9.79989 0.173863 9.75425 0.183446 9.70723C0.657265 7.44234 1.68333 5.38311 3.29201 3.71303C3.3216 3.68216 3.3512 3.6513 3.38169 3.61949C3.80981 3.17532 4.24508 2.76618 4.74334 2.40227C4.79723 2.3621 4.85112 2.32193 4.90501 2.28176C5.28842 1.99912 5.68649 1.74714 6.10104 1.51282C6.13415 1.49399 6.16726 1.47517 6.20137 1.45577C7.2845 0.846009 8.46295 0.43645 9.67963 0.187429C9.71328 0.180531 9.74694 0.173633 9.78162 0.166526C10.5141 0.0273109 11.2386 -0.00265464 11.9824 0.000177715ZM5.7265 5.72598C5.47887 6.11517 5.38385 6.5115 5.46718 6.96762C5.58485 7.4175 5.84349 7.73556 6.24149 7.97301C6.63268 8.18455 7.17942 8.18186 7.60431 8.07779C7.71777 8.0343 7.82113 7.98578 7.92691 7.92619C7.97712 7.89819 8.02733 7.87019 8.07906 7.84134C8.42593 7.56545 8.63574 7.24245 8.69555 6.79756C8.71634 6.32777 8.59202 5.91833 8.27511 5.56507C7.85912 5.19542 7.40121 5.11949 6.86328 5.14503C6.39274 5.18207 6.03365 5.36521 5.7265 5.72598ZM14.4345 9.37739C14.3903 9.39616 14.3461 9.41493 14.3006 9.43426C13.833 9.66209 13.3903 10.0533 13.1236 10.5009C13.1236 10.5318 13.1236 10.5627 13.1236 10.5945C13.0927 10.5945 13.0618 10.5945 13.03 10.5945C13.03 10.1929 13.03 9.79122 13.03 9.37739C12.0875 9.37739 11.1451 9.37739 10.1741 9.37739C10.1741 12.2662 10.1741 15.155 10.1741 18.1314C11.1166 18.1314 12.059 18.1314 13.03 18.1314C13.0317 17.7516 13.0335 17.3718 13.0353 16.9805C13.0367 16.7394 13.0382 16.4983 13.0398 16.2572C13.0423 15.8749 13.0447 15.4925 13.0462 15.1101C13.0474 14.8017 13.0493 14.4934 13.0517 14.185C13.0524 14.0675 13.053 13.95 13.0533 13.8326C13.0537 13.6676 13.055 13.5027 13.0566 13.3378C13.0565 13.2896 13.0564 13.2413 13.0563 13.1917C13.0633 12.6508 13.2016 12.2661 13.5728 11.8731C13.8864 11.5772 14.2208 11.4733 14.6481 11.4635C15.0146 11.4746 15.3528 11.5201 15.6325 11.7788C16.1045 12.3488 16.1252 13.0571 16.1295 13.7629C16.13 13.8105 16.1304 13.858 16.1309 13.907C16.1324 14.0625 16.1336 14.2181 16.1347 14.3736C16.1357 14.4821 16.1367 14.5905 16.1377 14.699C16.1402 14.9833 16.1426 15.2676 16.1448 15.5519C16.1476 15.8936 16.1507 16.2354 16.1537 16.5772C16.1583 17.0952 16.1625 17.6133 16.1667 18.1314C17.1092 18.1314 18.0516 18.1314 19.0226 18.1314C19.0268 17.1252 19.0268 17.1252 19.0296 16.1189C19.0304 15.7587 19.0314 15.3984 19.0332 15.0382C19.0347 14.7219 19.0355 14.4056 19.0359 14.0893C19.0362 13.9694 19.0367 13.8494 19.0374 13.7295C19.0455 12.4033 18.9681 11.0588 18.0079 10.038C17.4257 9.45119 16.6496 9.18397 15.8363 9.17234C15.3386 9.17317 14.8988 9.17941 14.4345 9.37739ZM5.63287 9.37739C5.63287 12.2662 5.63287 15.155 5.63287 18.1314C6.5753 18.1314 7.51773 18.1314 8.48871 18.1314C8.48871 15.2426 8.48871 12.3538 8.48871 9.37739C7.54628 9.37739 6.60386 9.37739 5.63287 9.37739Z"
                      fill="#1D1D1D"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>}
        </aside>
      </div>
    </div>
  </div>
</article>

<style is:global></style>
