---
// src/components/layout/Header.astro
import { SITE_NAME, NAV_LINKS } from "@/lib/constants";
import LogoPrimary from "../logo/LogoPrimary.astro";
import FullscreenMenu from "./FullscreenMenu.astro";

const currentPath = Astro.url.pathname;
---

<header class="bg-primary-foreground">
  <!-- <header class="bg-primary-foreground sticky top-0 z-50"> -->
  <nav
    class="container mx-auto py-3 lg:px-6 md:px-3 px-[20px] max-w-[1440px]"
    aria-label="Navigation principale"
  >
    <div class="flex items-center justify-between">
      <!-- Logo -->
      <a
        href="/"
        class="text-2xl font-bold text-gray-900 hover:text-blue-600 transition-colors"
        aria-label="Retour à l'accueil"
      >
        <LogoPrimary />
      </a>

      <!-- Bouton Menu -->
      <button
        id="menu-open-btn"
        class="flex flex-row items-center gap-x-3 cursor-pointer hover:opacity-80 active:opacity-80 transition-opacity"
        aria-label="Ouvrir le menu"
      >
        <svg
          width="7"
          height="7"
          viewBox="0 0 7 7"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-[10px] h-[10px]"
        >
          <path
            d="M0.5 6.5H6.5M0.5 0.5H6.5M0.5 3.5H6.5"
            stroke="var(--secondary)"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <span class="text-secondary font-medium text-[20px]">Menu</span>
      </button>
    </div>
  </nav>
</header>

<!-- Menu plein écran -->
<FullscreenMenu />
