---
import Layout from "@/components/layout/Layout.astro";
---

<Layout title="Conditions Générales d'Utilisation">
  <div class="py-24 text-center">Conditions Générales d'Utilisation</div>
</Layout>
