---
import Container from "@/components/layout/Container.astro";
import Layout from "../components/layout/Layout.astro";
import SubHeader from "@/components/SubHeader.astro";

const benefits = [
  {
    id: "1",
    title: `
      <span>
        Accéder à de la <b>documentation juridique</b>.
      </span>
    `,
  },
  {
    id: "2",
    title: `
      <span>
        Retrouver vos <b>accords d’entreprise</b> depuis votre espace personnel
        à tout moment.
      </span>
    `,
  },
  {
    id: "3",
    title: `
      <span>
        Lire <b>toute l’actualité de votre CSE</b> (PV de CSE, Réponses aux
        réclamations, etc…).
      </span>
    `,
  },
  {
    id: "4",
    title: `
      <span>
        Et pour aller plus loin, d’<b>adhérer à FO Groupe Bouygues</b> en ligne.
      </span>
    `,
  },
  {
    id: "5",
    title: `
      <span>
        Bénéficier de <b>conseils</b> en contactant vos référents (Référents
        retraite, référents juridiques, référents handicap…).
      </span>
    `,
  },
];

const adherezBenefits = [
  {
    id: "1",
    title:
      "Participer à des <b class='text-primary'>ateliers d’information</b> et/ou <b class='text-primary'>de réflexion en ligne.</b>",
    image: "../../images/60646c5bcab03b7e39f1ebda2b48c8ff26ec8e91.jpg",
  },
  {
    id: "2",
    title:
      "<b class='text-primary'>Bénéficier de l’AFOC : </b>service de conseil juridique et de traitement amiable des litiges individuels des consommateurs et des locataires.",
    image: "../../images/60646c5bcab03b7e39f1ebda2b48c8ff26ec8e94.jpg",
  },
  {
    id: "3",
    title:
      "Profiter de <b class='text-primary'>MyStoreFO billetterie</b>, univers voyage, Coop, bonnes affaires…",
    image: "../../images/60646c5bcab03b7e39f1ebda2b48c8ff26ec8e93.jpg",
  },
  {
    id: "4",
    title:
      "Accéder au <b class='text-primary'>catalogue de formations</b>, juridiques, sociales et économiques.",
    image: "../../images/60646c5bcab03b7e39f1ebda2b48c8ff26ec8e92.jpg",
  },
];
---

<Layout
  title="Pourquoi ouvrir un compte ?"
  description="Découvrez tous les avantages d'ouvrir un compte e-FO"
>
  <Container class="bg-primary-foreground">
    <SubHeader
      rightImg="../../images/why-account.jpg"
      title={"Pourquoi ouvrir un compte ?"}
      height={264}
    />
  </Container>
  <!-- Main Content -->
  <Container class="max-w-[1002px] mx-auto">
    <section class="py-16">
      <div>
        <!-- Introduction -->
        <div class="mb-16">
          <h2
            class="text-3xl lg:text[32] leading-[30px font-[700] text-secondary mb-3"
          >
            Découvrez toutes les bonnes raisons d'ouvrir<br />
            votre compte personnel e-FO
          </h2>
          <p class="text-primary leading-[21px] tex-[14px] font-[400]">
            Vestibulum vel hendrerit sapien, et consequat leo. <b
              >Etiam tincidunt interdum dapibus. Orci varius natoque penatibus
              et magnis dis parturient montes, nascetur ridiculus mus</b
            >. Aenean mollis enim arcu, in posuere sapien blandit ut. Phasellus
            ac lorem urna. Morbi in facilisis odio, nec elementum felis.
          </p>
        </div>

        <!-- Image principale -->
        <div
          style="background-image: url('../../images/60646c5bcab03b7e39f1ebda2b48c8ff26ec8e9e.jpg');"
          class="bg-cover bg-repeat bg-center h-[471px] w-full lg:w-full md:h-full"
        >
          <div
            class="flex flex-col items-end lg:flex-row md:flex-row justify-end h-full p-4"
          >
            <div
              class="bg-white lg:w-[315px] md:w-[315] w-fit rounded-[8px] p-4 flex flex-col"
            >
              {
                benefits.map((benefit, index) => (
                  <div class="flex flex-row items-center gap-2">
                    <div class="min-h-[8px] min-w-[8px]">
                      <svg
                        viewBox="0 0 7 9"
                        fill="none"
                        height="8px"
                        width="8px"
                        xmlns="http://www.w3.org/2000/svg"
                        id={index.toString()}
                      >
                        <path
                          d="M0.5 0.5L6.5 0.5L6.5 8.5L3.5 6L0.5 8.5L0.5 0.5Z"
                          stroke="#D15447"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                    <div>
                      <h3
                        class="font-400 text-[14px]"
                        set:html={benefit.title}
                      />
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
          <!-- Liste des avantages -->
        </div>

        <div class="mt-8">
          <h2 class="text-[20px] font-800 text-secondary mb-10">
            Adhérez à FO Groupe Bouygues vous permet de :
          </h2>

          <!-- Grille de 4 cartes -->
          <div class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 gap-8">
            {
              adherezBenefits.map((item, index) => (
                <div
                  class={`flex gap-2 ${(index + 1) % 2 === 0 ? "lg:flex-row md:flex-row flex-row-reverse" : "flex-row"}`}
                >
                  {/* Image */}
                  <div
                    style={`background-image: url("${item.image}");`}
                    class="bg-repeat bg-cover bg-center aspect-[1/1] h-[120px]"
                  />

                  <div class="">
                    <h3 class="font-[400] text-[14px]" set:html={item.title} />
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </section>
  </Container>
</Layout>
