---
import Layout from "@/components/layout/Layout.astro";

---

<Layout
  title="Page non trouvée"
  description="La page que vous recherchez n'existe pas ou a été déplacée."
>
  <div class=" py-24 text-center">
  </div>
</Layout>
