---
import Bouygues from "../logo/Bouygues.astro";
import BouyguesBatiment from "../logo/BouyguesBatiment.astro";
import BouyguesImmo from "../logo/BouyguesImmo.astro";
import BouyguesTelecom from "../logo/BouyguesTelecom.astro";
import Colas from "../logo/Colas.astro";
import Equans from "../logo/Equans.astro";
import Tfi from "../logo/Tfi.astro";
---

<section
  class="flex flex-row justify-between w-full"
>
  {
    [
      <BouyguesBatiment />,
      <BouyguesImmo />,
      <Bouygues />,
      <BouyguesTelecom />,
      <Colas />,
      <Equans />,
      <Tfi />,
    ].map((i) => i)
  }
</section>
