---
import type { JSX } from "astro/jsx-runtime";

type Color = "primary" | "secondary";
type Variant = "contained" | "outlined";
interface Props extends JSX.HtmlHTMLAttributes {
  color?: Color;
  variant?: Variant;
}
const {
  color = "primary",
  variant = "contained",
  class: className,
  ...rest
} = Astro.props;
const classes: Record<Color, Record<Variant, string>> = {
  primary: {
    contained: "bg-primary text-primary-foreground",
    outlined: "border border-primary text-primary",
  },
  secondary: {
    contained: "bg-secondary text-secondary-foreground",
    outlined: "border border-secondary text-secondary",
  },
};
---

<span
  {...rest}
  class={`inline-flex items-center justify-center gap-2 whitespace-nowrap ${classes[color][variant]} px-4 py-1 text-[12px] font-[700] rounded-3xl font-[700] flex flex-row items-center gap-x-1 ${className}`}
>
  <slot />
</span>
